<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BatchFinal"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".view.activity.WeightLossBatchActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".view.activity.BuySubscriptionActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".view.activity.MotivatorDetailActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.example.ajzoproject.EjzoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".view.activity.ExploreActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".view.activity.VerificationActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".view.activity.LoginActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".view.activity.OnBoardingActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".view.activity.WeightLossActivity"-->
<!--            android:exported="false" />-->


        <activity
            android:name="com.example.ajzoproject.EventActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.PreviewsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.dashboard.DashboardActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=""-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.example.ajzoproject.TicketingSeatDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.OrganizerDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.LocationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.TicketingSeatActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.DateTime3Activity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.EventDescriptionActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ajzoproject.BasicDetailsActivity"
            android:exported="false" />
    </application>

</manifest>